.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.title {
  font-size: 36px; 
}

.content {    
  margin-top: 0;
  margin-left: calc(1600px - 99%);
  width: 1200px;
  /* box-shadow: 0 0 50px 30px #050923; */
}

.left-button {
  margin-right: 15px;
}

.right-button {
  margin-left: 15px;
}