.main {
  display: grid;
  grid-template-columns: auto 1fr; 
  grid-gap: 10px; 
  align-items: center;
}
.image{
  max-width: 1000px;
  padding-left: 30px;
}
.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}