.navbar {
  color: #fff; 
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.nav-menu {
  list-style: none;
  display: flex;
  font-size: 12px;
}
.nav-item {
    margin-top: 45px;
    padding: 0 15px;    
}
.nav-link {
  color: #fff;
  text-decoration: none; 
}
.nav-link:hover {
  color: #a29e9e;
  border-bottom: solid 1px #555; 
  padding-bottom: 5px;
  /* border-radius: 6px; */
}
.logo {
    height: 90px; 
    width: auto; 
    margin-right: 50px;
}