.navbar {
  color: #fff; 
  padding: 0 70px; 
  display: flex;
  justify-content: space-between;
}
.nav-menu {
  list-style: none;
  display: flex;
  font-size: 13px;
}

.nav-item {
    margin-top: 65px;
  margin-right: 10px; 
}

.nav-link {
  color: #fff;
  text-decoration: none; 
  padding: 10px; 
}

.nav-link:hover {
    color: #a29e9e;
  border-bottom: solid 1px #555; 
  border-radius: 6px;
}
.logo {
    height: 150px; 
    width: auto; 
    margin-right: 20px;
}